#root,body,html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background: linear-gradient(to top, #eeb5d7, #e5b8e1, #dbbcea, #cfc1f0, #c3c5f5, #b8ccfb, #acd2fe, #a2d8ff, #98e1ff, #93e9ff, #93f1fa, #9af8f2); */
}

.canvas-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

@font-face {
  font-family: 'CustomFont';
  src: url('./fonts/CustomFont.ttf') format('truetype');
}  
  .ant-layout {
    display: flex;
    width: 100%;
    min-height: 100%;
  }
  .custom-table {
    background: transparent ! important;
  }
  .custom-icon{
    width: 36px;
    height: 36px;
  }

  /* .custom-menu {
    background: linear-gradient(to right top, #c89cb3, #c59cbd, #be9dc7, #b39fd2, #a3a2dc, #94ace8, #80b5f2, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  } */

  .custom-menu {
    background: transparent;
  }

  .custom-menu .ant-menu-item {
    font-family: 'CustomFont', sans-serif;
    font-size: 15px;
    color: pink;
  }
  
  .gradient-background {
    background: linear-gradient(to right top, #c89cb3, #c59cbd, #be9dc7, #b39fd2, #a3a2dc, #94ace8, #80b5f2, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  }

  .ant-layout-sider {
    background: linear-gradient(to right top, #c89cb3, #c59cbd, #be9dc7, #b39fd2, #a3a2dc, #94ace8, #80b5f2, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  }

  /* emoji */
  .emoji-icon {
    position: fixed;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 48px;
    animation-name: emojiAnimation;
    animation-duration: 1s;
  }
  
  @keyframes emojiAnimation {
    0% {
      top: -100px;
      opacity: 0;
    }
    20% {
      top: 50px;
      opacity: 1;
    }
    80% {
      top: 50px;
      opacity: 1;
    }
    100% {
      top: 100%;
      opacity: 0;
    }
  }

  /* fireworks */
  @keyframes fireworks {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(-1000px);
      opacity: 0;
    }
  }
  
  .firework {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #ffeb3b;
    border-radius: 50%;
    animation: fireworks 2s linear infinite;
  }